%p
  = link_to 'Pannelli', pannellos_path
  = '/'
  = "Pannello #{@pannello.name}"
.row
  .col-sm-2
    = image_tag(@pannello.image.url(:normal), class: 'img-responsive')
  .col-sm-10
    #container-packery
      .grid-sizer
      - @pannello.operas.order(:archive_index).each do |o|
        .item
          = link_to(image_tag(o.image.url(:big)), o)
          .pallino= o.archive_index


:css
  .pallino {
    position: absolute;
    top: 0;
    right:0;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    margin: 10px;;
    border-radius: 100px;
    background-color: #337ab7;
    width: 50px; 
    text-align: center
  }
