%p(style="margin-bottom: 20px")
  = link_to 'Pannelli', pannellos_path
  = '/'
  = link_to "Pannello #{@opera.pannello.name}", @opera.pannello
  = '/'
  = 'Opera'

.row
  .col-sm-12
    = image_tag @opera.image.url(:normal), class: 'img-responsive'